.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background: #EDF2F6;

}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 175px;
    font-family: 'Istok Web';
    font-weight: bold;
    font-size: 15px;
    text-shadow: -1px 1px 5px rgba(121, 121, 121, 0.5);
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.content > ul > li {
    margin-right: 11px;
    margin-left: 11px;

}


.nav-button {
    display: inline-block;
    padding: 14px 20px;
    border-radius: 25px;
    background-color: #6A7EFC;
}

a {
    text-decoration: none;
    color: #000;
}

.avt {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%);
}

.avt > p {
    color:white;
    text-align: center;
    font-family: 'Istok Web';
    font-weight: bold;
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.5);
    font-size: 26px;
}

.content2 {
    writing-mode: horizontal-tb; 
    width: 700px; 
    top: 375px;
    position: absolute;
    color:white;
    text-align: center;
    font-family: 'Istok Web';
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 32px;
    left: 50%;
    transform: translate(-50%);
}

.content3 {
    width: 100%;
    top: 480px;
    position: absolute;
    color:white;
    text-align: center;
    font-family: 'Istok Web';
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.5);
    font-size: 16px;
    left: 50%;
    transform: translate(-50%);
}

.btnmore {
    position: absolute;
    top: 580px;
    left: 50%;
    transform: translate(-50%);
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    background-color: #FF5656;
}

.btnmore  > p {
    text-align: center;
    font-family: 'Istok Web';
    font-size: 15px;
    color: white;
    padding: 16px 28px;    
    margin:  0px;
}

.line1 {
    position: absolute;
    top: 750px;
    height: 1px;
    width: 1000px;    
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(255, 255, 255);
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.5);
}

.contantProject {
    position: absolute;
    top: 830px;
    width: 100%;
    color:white;
    text-align: center;
    font-family: 'Istok Web';
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.5);
    font-size: 16px;
    left: 50%;
    transform: translate(-50%);
    margin: 0px 0px;
}

.titleProject {
    font-size: 32px;
    font-weight: bold;
    margin: 0px 0px;
}

.imgProject {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: auto;
    max-width: 1170px;
}

.prj {
    width: 350px;
    height: 250px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 7px 11px #3f3f3f;
    border-radius: 20px;

}

.btnmore1 {
    display: flex;
    align-items: center;
    top: 675px;
    background-color: white;
}

.btnmore1 > p {
    color: #000;

}

.footer {
    position: absolute;
    top:1600px;
    width: 100%;
    height: 150px;
    background-color: #D9D9D9;
}

.contant-conten-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail > a {
    position: relative;
    top: 20px;
    font-family: 'Istok Web';
    font-size: 18px;
    text-shadow: -1px 1px 5px rgb(0 0 0 / 50%);
}
.iconsocial {
    position: relative;
    top: 30px;
    height: 100%;
    display: flex;
}

.ic-list {
    margin: 15px 20px;
}

.ic-list > a > i{
    scale: 2;
}

.copyright {
    text-shadow: -1px 1px 5px rgb(0 0 0 / 50%);
    position: relative;
    top: 30px;
}